* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "League Spartan", sans-serif;
}

* {
   -webkit-tap-highlight-color: transparent;
}

.removeArrows::-webkit-outer-spin-button,
.removeArrows::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
}